@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* common css end */
/* navbar section start */
nav {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #412567;
}
nav ul {
  display: flex;
  gap: 32px;
}
nav ul li {
  font-weight: 500;
  font-size: 16px;
}
.nav-style {
  font-weight: 700;
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav button {
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  padding: 12px 16px;
  width: 135px;
  height: 44px;
  cursor: pointer;
  background: linear-gradient(48deg, #f7e93f 0%, #fb09b4 51.12%, #9100f8 100%);
}
nav button i {
  padding-left: 4px;
}
.nav-responsive {
  display: none;
}
/* navbar section end */
/* banner section start */
#banner {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 660px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;
}

.banner-circle {
  position: relative;
}
.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new {
  position: absolute;
  top: 8%;
  right: 18%;
  padding: 8px 16px;
  width: 75px;
  height: 38px;
  background-color: #00ff88;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  color: #1a0b2e;
}
#banner h1 {
  font-weight: 800;
  font-size: 60px;
  margin-top: 40px;
}
#banner p {
  font-weight: 400;
  font-size: 16px;
  margin: 8px 0 24px;
}
.banner-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.banner-btn button i {
  margin-right: 10px;
}
.banner-btn button {
  transition: all 0.3s ease;
  cursor: pointer;
}
.banner-btn button:hover {
  transform: scale(1.1);
  border-radius: 20px;
  padding: 12px 20px;

  background: linear-gradient(48deg, #f7e93f 0%, #fb09b4 51.12%, #9100f8 100%);
}
.btn1 {
  border: 1px solid var(--00ff88);
  border-radius: 20px;
  padding: 12px 20px;
  width: 200px;
  height: 44px;
  background-color: #1a0b2e;
  color: #00ff88;
  border: 1px solid #00ff88;
  margin-left: 10px;
}
.btn2 {
  border: 1px solid var(--00ff88);
  border-radius: 20px;
  padding: 12px 20px;
  width: 147px;
  height: 44px;
  background-color: #1a0b2e;
  color: #00ff88;
  border: 1px solid #00ff88;
  margin-left: 10px;
}
/* banner section end */
/* about section start */
#about {
  margin: 50px 0 120px;
}
.about-content {
  text-align: center;
  padding: 20px;
}
.about-content h2 {
  font-weight: 700;
  font-size: 48px;
}
.about-content p {
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid gray;

  padding: 16px 0 80px;
}
.about-all-cards {
  margin: 80px 0 120px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 15px;
}
.about-card h3 {
  font-weight: 900;
  font-size: 48px;
  color: #0f8;
}
.about-card p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
}
/* about section end */
/* tachWave section start */
#techWave h2 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.tachWave-all-cards {
  padding: 40px 0 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3.1fr);
  gap: 30px;
}
.tachWave-all-cards h4 {
  font-weight: 700;
  font-size: 24px;
  padding: 16px 0;
}
.tachWave-all-cards p {
  font-weight: 400;
  font-size: 16px;
}
.tachWave-card-1 {
  grid-column: span 1;
  grid-row: span 2;
  border-radius: 40px;
  padding: 40px;
  width: 380px;
  height: 480px;
  background: rgba(53, 17, 101, 0.4);
}
.tachWave-card-2 {
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 40px;
  padding: 40px;
  width: 790px;
  height: 225px;
  background: rgba(53, 17, 101, 0.4);
}
.tachWave-card-3 {
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 40px;
  padding: 40px;
  width: 790px;
  height: 225px;
  background: rgba(53, 17, 101, 0.4);
}
.tachWave-card-4 {
  grid-column: span 2;
  grid-row: span 2;
  border-radius: 40px;
  padding: 40px;
  width: 790px;
  height: 273px;
  background: rgba(53, 17, 101, 0.4);
}
.tachWave-card-5 {
  border-radius: 40px;
  padding: 40px;
  width: 380px;
  height: 273px;
  background: rgba(53, 17, 101, 0.4);
}
/* tachWave section end */
/* featured section start */
#featured h2 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}
.featured-all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.featured-card {
  border-radius: 24px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background: #250d44;
  padding: 14px;
}
.featured-card:hover {
  transform: translateY(-28px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.featured-card iframe {
  width: 100%;
  border-radius: 24px 24px 0 0;
}
.featured-card h3 {
  font-weight: 700;
  font-size: 24px;
  padding: 24px 0 12px;
}
.featured-card p {
  font-weight: 400;
  font-size: 16px;
}
.card-min {
  margin: 12px 0 24px;
  color: #00ff88;
}
/* featured section end */
/* meet section start */
#meet h2 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin: 120px 0 40px;
}
.meet-class {
  display: flex;
  gap: 24px;
  align-items: center;
  border-radius: 40px;
  padding: 40px;
  height: 280px;
  background: rgba(53, 17, 101, 0.4);
}
.meet-class h3 {
  font-weight: 700;
  font-size: 32px;
}
.meet-class p {
  font-weight: 400;
  font-size: 16px;
  margin: 16px 0;
}
.icon  {
  display: flex;
  gap: 10px;
}
.icon img{
    border: 1px solid gray;
    padding: 12px;
    border-radius: 20px;
}
/* meet section end */
/* footer section start */
footer{
    background-image: url(./assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 412px;
  margin-top: 120px;
}
footer .footer-content h1{
     font-weight: bolder;
  
}
.footer-content {
   
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
   height: 412px;
}
.all-contact{
    display: flex;
    gap: 30px;
    margin-bottom: 32px;
}
.contact{
    display: flex;
    gap: 10px;
}
/* footer section end */
/* responsive 576px start*/
@media screen and (max-width: 576px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #412567;
    padding: 20px;
  }

  .about-all-cards {
    flex-wrap: wrap;
  }
  .tachWave-all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .tachWave-card-1,
  .tachWave-card-2,
  .tachWave-card-3,
  .tachWave-card-4,
  .tachWave-card-5 {
    border-radius: 24px;
    padding: 24px;
    width: 400px;
    height: 287px;
  }
  .featured-all-cards {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .meet-class{
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
  }
  .icon{
    justify-content: center;
  }
  footer{
    text-align: center;
  }
  .all-contact{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
/* responsive 576px end*/

/* responsive 992px start*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #412567;
    padding: 20px;
  }
  .tachWave-all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .tachWave-card-1,
  .tachWave-card-2,
  .tachWave-card-3,
  .tachWave-card-4,
  .tachWave-card-5 {
    border-radius: 24px;
    padding: 24px;
    width: 400px;
    height: 287px;
  }
  .featured-all-cards {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
/* responsive 992px end*/
