@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* common css end */
/* navbar section start */
nav {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #412567;
}
nav ul {
  display: flex;
  gap: 32px;
}
nav ul li {
  font-weight: 500;
  font-size: 16px;
}
.nav-style {
  font-weight: 700;
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav button {
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  padding: 12px 16px;
  width: 135px;
  height: 44px;
  background: linear-gradient(48deg, #f7e93f 0%, #fb09b4 51.12%, #9100f8 100%);
}
nav button i{
    padding-left: 4px;
}
.nav-responsive{
    display: none;
}
/* navbar section end */








/* responsive 576px start*/
@media screen and (max-width:576px) {
    nav{
        display: none;
    }
    .nav-responsive{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #412567;
    padding: 20px;
}
}
/* responsive 576px end*/

/* responsive 992px start*/
@media screen and (min-width:576px) and (max-width:992px) {
    
}
/* responsive 992px end*/