@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* common css starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* common css end */
/* navbar section start */
nav {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #412567;
}
nav ul {
  display: flex;
  gap: 32px;
}
nav ul li {
  font-weight: 500;
  font-size: 16px;
}
.nav-style {
  font-weight: 700;
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav button {
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  padding: 12px 16px;
  width: 135px;
  height: 44px;
  cursor: pointer;
  background: linear-gradient(48deg, #f7e93f 0%, #fb09b4 51.12%, #9100f8 100%);
}
nav button i {
  padding-left: 4px;
}
.nav-responsive {
  display: none;
}
/* navbar section end */
/* banner section start */
#banner {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 660px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.banner-circle {
  position: relative;
}
.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new {
  position: absolute;
  top: 8%;
  right: 18%;
  padding: 8px 16px;
  width: 75px;
  height: 38px;
  background-color: #00ff88;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  color: #1a0b2e;
}
#banner h1 {
  font-weight: 800;
  font-size: 60px;
  margin-top: 40px;
}
#banner p {
  font-weight: 400;
  font-size: 16px;
  margin: 8px 0 24px;
}
.banner-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.banner-btn button i {
  margin-right: 10px;
}
.banner-btn button {
  transition: all 0.3s ease;
}
.banner-btn button:hover {
  transform: scale(1.1);
  border-radius: 20px;
  padding: 12px 20px;

  background: linear-gradient(48deg, #f7e93f 0%, #fb09b4 51.12%, #9100f8 100%);
}
.btn1 {
  border: 1px solid var(--00ff88);
  border-radius: 20px;
  padding: 12px 20px;
  width: 200px;
  height: 44px;
  background-color: #1a0b2e;
  color: #00ff88;
  border: 1px solid #00ff88;
  margin-left: 10px;
}
.btn2 {
  border: 1px solid var(--00ff88);
  border-radius: 20px;
  padding: 12px 20px;
  width: 147px;
  height: 44px;
  background-color: #1a0b2e;
  color: #00ff88;
  border: 1px solid #00ff88;
  margin-left: 10px;
}
/* banner section end */

/* responsive 576px start*/
@media screen and (max-width: 576px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #412567;
    padding: 20px;
  }
}
/* responsive 576px end*/

/* responsive 992px start*/
@media screen and (min-width: 576px) and (max-width: 992px) {
     nav {
    display: none;
  }
  .nav-responsive {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #412567;
    padding: 20px;
  }
}
/* responsive 992px end*/
