/* common css starts here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol{
 list-style-type: none;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,ol,p,span{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1350px;
  margin: auto
}
/* common css end */